/*
Basic CSS styles for a page layout with header, main content, and footer sections.
*/
:root {
  --color-primary: #202123;
  --color-secondary: #343641;
  --color-tertiary: #444654;
  --color-quaternary: #343541;
  --font-color: #ffffff;

  /* Button dark/light mode colors */
  --button-background: #4297A0;
  --button-hover: #81FFEA;
}

.light-mode {
  --color-primary: #2F5061;
  --color-secondary: #4297A0;
  --color-tertiary: #f4eae6;
  --color-quaternary: #f4eae6;
  --font-color: #ffffff;

  /* Button dark/light mode colors #ffa17f */
  --button-background: #202123;
  --button-hover: #4297A0;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* Container to wrap all the content */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Header basic setup */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: var(--color-primary);
}

header .logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: larger;
  color: var(--font-color);
}

header img {
  width: 50px;
}

/* Button dark/light settings */
.theme {
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
  transition: 1s;
  /* Color variables to change with dark or light mode */
  background-color: var(--button-background);
  color: var(--font-color);
}

.theme:hover {
  background-color: var(--button-hover);
  color: var(--color-quaternary);
}

/* Main basic setup */
.contentContainer {
  flex: 1 1 auto;
  display: flex;
}

.contentContainer .sideBar {
  flex: 1;
  background-color: var(--color-secondary);
}

.contentContainer .content {
  flex: 3;
  background-color: var(--color-tertiary);
}

/* Footer basic setup */
footer {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--font-color);
}

footer a {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}

footer a:hover {
  color: lightgrey;
}
