/*
Basic CSS styles for a page layout with header, main content, and footer sections.
*/
:root {
  --color-primary: #202123;
  --color-secondary: #343641;
  --color-tertiary: #444654;
  --color-quaternary: #343541;
  --font-color: #ffffff;
  --font-color-table:#ffffff; 

  /* Button dark/light mode colors
  --button-background:#89c7e7;
  --button-circle:#f8ed62;
 */
  --button-background:#444654;
  --button-circle:#fffec8;
}

.light-mode {
  --color-primary: #2f5061;
  --color-secondary: #4297a0;
  --color-tertiary: #f4eae6;
  --color-quaternary: #f4eae6;
  --font-color: #ffffff;
  --font-color-table:#000000; 

  /* Button dark/light mode colors #ffa17f */
  --button-background: #131862;
  --button-circle: #546bab;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
/* Setting the delay transition to smoothly toggle between dark and light mode */
body,
header,
.sideBar,
.content,
footer {
  transition: 1s;
}
/* Container to wrap all the content */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 1s;
}

/* Header basic setup */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: var(--color-primary);
}

header .logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: larger;
  color: var(--font-color);
}

header img {
  width: 50px;
}

/* Button dark/light settings */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--button-background);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 20px;
  width: 50px;
  transform: scale(1);
  transition: 1s;
}

.label .ball {
  background-color: var(--button-circle);
  border-radius: 50%;
  position: absolute;
  border: 1px solid var(--button-background);
  box-sizing: border-box;
  left: 3px;
  height: 25px;
  width: 24px;
  transform: translateX(0px);
  transition: transform 0.5s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(30px);
}

.fa-moon {
  color: #546bab;
}

.fa-sun {
  color: 	#fffec8;
}

/*Class to hide all the attributes to help the app be more accessible for screen readers */
.visually-hidden {
  display: none;
}

/* Main basic setup */
.contentContainer {
  flex: 1 1 auto;
  display: flex;
}

.contentContainer .sideBar {
  flex: 1;
  background-color: var(--color-secondary);
}

.contentContainer .content {
  flex: 3;
  background-color: var(--color-tertiary);
}

/* Footer basic setup */
footer {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--font-color);
}

footer a {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}

footer a:hover {
  color: lightgrey;
}

/* hidden class*/
.hidden{
  display: none;
}
