/* Basic Modal specifications */
.modal {
  position: absolute;
  top: 20%;
  z-index: 2;

  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: var(--color-tertiary);
  transition: 1s;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
/* specifications to Create a Task modal */

.modal-createHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
  padding: 10px;
  transition: 1s;
  background-color: var(--color-primary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-createHeader h1 {
  margin: 0;
}

.modal-createHeader button {
  border: none;
  background-color: transparent;
  color: #ff0000;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
}

.modal-createHeader button:active {
  color: var(--color-secondary);
}

/* content input */

.modal-createContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  transition: 1s;
}
.modal-createContent input,
.modal-createContent textarea {
  box-sizing: border-box;
  padding: 5px;
  background-color: var(--color-tertiary);
  border: none;
  color: var(--font-color-table);
  transition: 1s;
}

.modal-createContent input:focus,
.modal-createContent textarea:focus {
  outline: none;
}
.modal-createContent input::placeholder,
.modal-createContent textarea::placeholder {
  color: var(--font-color-table);
  transition: 1s;
}

.modal-createContent input {
  font-size: 1.5rem;
}

.modal-createContent textarea {
  font-size: 1.2rem;
}

/* Create Footer modal setup */
.modal-createFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 15px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.3rem;
  transition: 1s;
}
/* Date input setup */
.modal-createFooter .date-modalFooter {
  display: flex;
  align-items: center;
  color: var(--font-color-table);
  transition: 1s;
}

.modal-createFooter .date-modalFooter input[type='date'] {
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid #4dab9e;
  padding: 3px;
  margin-left: 10px;
  background-color: var(--color-tertiary);
  color: #4dab9e;
  text-align: center;
  width: 150px;
  transition: 1s;
}

.modal-createFooter
  .date-modalFooter
  input[type='date']::-webkit-calendar-picker-indicator {
  text-align: center;
}

/* Priority buttons */
.priority-modalFooter {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--font-color-table);
  transition: 1s;
}

.priority-modalFooter button {
  font-size: 1.2rem;
  color: var(--font-color-table);
  background-color: var(--color-tertiary);
  padding: 3px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.priority-modalFooter button:active {
  background-color: white;
  color: aliceblue;
}

.lowBtn {
  border: 1px solid orange !important;
  color: orange !important;
}

.lowBtn:hover {
  background-color: orange;
  color: black !important;
}
.mediumBtn {
  border: 1px solid #05ef05 !important;
  color: #05ef05 !important;
}

.mediumBtn:hover {
  background-color: #05ef05;
  color: black !important;
}
.highBtn {
  border: 1px solid red !important;
  color: red !important;
}

.highBtn:hover {
  background-color: #ff0000;
  color: black !important;
}

/* submit button */

.modal-createSubmitBtn {
  margin-top: auto;
  font-size: 1.2rem;
  color: var(--font-color-table);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 10px;
  transition: 1s;
  cursor: pointer;
}

.modal-createSubmitBtn:hover {
  background-color: var(--color-primary);
  color: var(--font-color);
}

.modal-createSubmitBtn:active {
  background-color: white;
}

/* Modal to create a New Folder to the system */
.addFolderModal {
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  color: var(--font-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 1s;

  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}

.addFolderModal .addFolderContainer {
  height: 100%;
  transition: 1s;
  box-sizing: border-box;
}

/* Header of the new folder modal */
.addFolderModal .addFolderHeader {
  background-color: var(--color-primary);
  padding: 5px;
  transition: 1s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.addFolderModal .addFolderHeader h1 {
  margin: 10px;
}

/* Content of the new folder modal */
.addFolderModal .addFolderContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: calc(100% - 57px); /* Adjusted height */
  box-sizing: border-box;
  transition: 1s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.addFolderContent input {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: var(--font-color-table);
}

.addFolderContent input:focus {
  outline: none;
}

.addFolderContent input::placeholder {
  color: var(--font-color-table);
}

.addFolderContent div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addFolderContent .submitFolder,
.addFolderContent .cancelFolder {
  background-color: transparent;
  font-size: medium;
  border: none;
  margin: 0px 10px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

.addFolderContent .submitFolder:active,
.addFolderContent .cancelFolder:active {
  background-color: var(--color-secondary);
  color: var(--font-color-table);
  border: 2px solid var(--color-primary);
}

.addFolderContent .submitFolder {
  border: 2px solid #3ea6eb;
  color: #3ea6eb;
}

.addFolderContent .cancelFolder {
  border: 2px solid #ff0000;
  color: #ff0000;
}

/* Alert Modal */

.alert {
  width: 400px;
  height: 220px;
  box-sizing: border-box;
  color: var(--font-color-table);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  transition: 1s;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}

.alert h1 {
  margin: -1px;
  padding: 10px;
  text-align: center;
  background-color: var(--color-primary);
  transition: 1s;
  color: #ff0000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.alert p {
  padding: 10px;
}

.alert div {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert button {
  background-color: transparent;
  font-size: medium;
  border: none;
  margin: 0px 10px;
  padding: 5px 20px;
  text-align: center;
  border-radius: 5px;
  transition: 0.5s;
}

.alert #yes {
  border: 2px solid #3ea6eb;
  color: #3ea6eb;
}

.alert #yes:hover {
  background-color: #3ea6eb;
  color: var(--font-color-table);
}

.alert #no {
  border: 2px solid #ff0000;
  color: #ff0000;
}

.alert #no:hover {
  background-color: #ff0000;
  color: var(--font-color-table);
}

.alert #no:active,
.alert #yes:active {
  background-color: var(--color-tertiary);
}

/* Modal to display all the data detailed  */
.displayDetails {
  min-width: 400px;
  min-height: 220px;
  max-height: 300px;
  box-sizing: border-box;
  color: var(--font-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding-bottom: 10px;
  transition: 1s;

  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
}

/* Header from the display modal */
.displayDetailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--color-primary);
  margin: -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 1s;
}

.displayDetailsHeader h3 {
  margin: 0;
}

.displayDetailsHeader button {
  background-color: transparent;
  font-size: larger;
  font-weight: bold;
  border: none;
  color: #ff0000;
  cursor: pointer;
}

.displayDetailsHeader button:active {
  color: #ff00005a;
}

.displayDetails .displayContent {
  overflow: auto;
  max-height: 180px;
  padding: 10px;
  color: var(--font-color-table);
  transition: 1s;
}

/* Styling the scrollbar from display section */
.displayDetails .displayContent::-webkit-scrollbar {
  width: 10px;
}

.displayDetails .displayContent::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.displayDetails .displayContent::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 100px;
}
/* Overlay specifications */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
